
body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  line-height: 1.6em;
}

p.lead {
  font-size: 1.3em;
  color: gray;
}

a.navbar-brand {
  text-transform: uppercase;
}
