
/***************************************
* Override Bootstrap-sass variables
***************************************/

// brand colors
$brand-primary: #D53882;
$brand-success: #73FFDE;
$brand-info: #FCA9D3;
$brand-warning: #feee7d;
$brand-danger: #FA4B62;

// navbar
$navbar-margin-bottom: 0px;
$navbar-height: 60px;
$navbar-default-bg: $brand-primary;
$navbar-border-radius: 0px;
$navbar-default-color: white;
$navbar-default-link-color: white;
$navbar-default-border: $brand-primary;
$navbar-default-toggle-hover-bg    : none;
$navbar-default-toggle-icon-bar-bg : white;
$navbar-default-toggle-border-color: none;

// buttons
$btn-border-radius-base: 20px;

// links
$link-hover-color: $brand-primary;

// forms
$input-border-focus: $brand-primary;

// pager (simple pagination)
$pager-bg: $brand-info;
$pager-border: $brand-info;
$pager-hover-bg: $brand-info;
// $pager-active-color: white;
$pager-disabled-color: darken(white, 10%);

/***************************************
* Own variables
***************************************/
$brand-color: #73FFDE;
