
/***************************************
* Override Bootstrap-sass variables
***************************************/

// brand colors
$brand-primary: #8EC0E4;
$brand-success: #99f19e;
$brand-info: #a5dff9;
$brand-warning: #feee7d;
$brand-danger: #ff7473;

// navbar
$navbar-margin-bottom: 0px;
$navbar-height: 60px;

// buttons
$btn-border-radius-base: 20px;




/***************************************
* Own variables
***************************************/
