
.navbar {
  margin-top: 0px;
  padding-top: 0px;
}

.jumbotron {
  background-color: $brand-primary;
  border-bottom: 25px solid lighten($navbar-default-bg, 4%);
  margin-bottom: 0px !important;


  h1, p {
    color: white;
  }

  p {
    font-style: italic;
  }

  h1 {
    margin: 100px 0 0 0;
  }
  p, a {
    margin: 20px 0 90px 0;
  }

}

.pager {
  a {
    color: white;
    padding: 20px 20px;
  }
}


@media screen and (max-width: $screen-sm) {
  .navbar-btn {
    margin-left: 15px;
  }

}
