
.navbar {
  margin-top: 0px;
  padding-top: 0px;
}

.jumbotron {
  background-color: $brand-primary;
  border-bottom: 25px solid lighten($navbar-default-bg, 4%);

  h1, p {
    color: white;
  }

  h1 {
    margin: 100px 0 0 0;
  }
  p, a {
    margin: 20px 0 90px 0;
  }

}
