.container {
}

.navbar {
  margin-top: 0px;
  padding-top: 0px;
}

.jumbotron {
  background-color: #f8f8f8;
  border-bottom: 4px solid darken($navbar-default-bg, 4%);

  h1 {
    margin: 100px 0 0 0;
  }
  p, a {
    margin: 20px 0 90px 0;
  }

}
