// styling for PLURAL review. Used when looping through reviews
article.reviews {
  margin-bottom: 75px;


  a {
    margin-top: 15px;
  }

}

// styling for a single article review
article.review {
  margin-top: 0px;
  margin-bottom: 15px;

}

.btn-action-wrapper {
  margin-bottom: 40px;
}

.btn-group-container {
  margin: 30px;
}
